
body{
padding:20px;
}

#container{
border:1px solid black;
padding:15px;
width:300px;

}


.animal-info{
font-style:italic;
border:1px solid grey;
padding:1px;
}

li,ul{
list-style:none;
padding-left:0;
}


span{
font-weight:bold;
}

#fact{
font-style:italic;
}

#PolarBear{
  margin-bottom:10px;
}
